html {
  font-size: 16px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
html a:hover {
  transform: scale(1.1) !important;
  color: rgb(200, 100, 16) !important;
}
html a:hover i {
  transform: scale(1.1) !important;
  color: rgb(200, 100, 16) !important;
}
html body {
  margin: 0;
  padding: 0;
  background: rgb(0, 11, 16);
}
html body > div.contacts-container {
  width: 6rem;
  z-index: 2;
  position: absolute;
  top: calc(80px + 2rem);
  display: flex;
  justify-content: space-evenly;
}
html body > div.contacts-container a:hover i {
  transform: scale(1.1);
  color: rgb(200, 100, 16);
}
html body > div.contacts-container a {
  margin-left: 0.5rem;
  text-decoration: none;
}
html body main p {
  margin: 0 1rem;
}
html body main .main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
html body main div.left-side-sprite, html body main div.right-side-sprite {
  display: none;
}
html body main > section {
  margin: 0;
  padding: 2rem 10% 2rem 10%;
  text-align: center;
}
html body main > section header {
  margin-bottom: 1.5rem;
}
html body main > section img.title-underline {
  width: 80%;
  max-width: 370px;
}
html body main > section article, html body main > section > div.includes {
  margin: 1rem auto 0 auto;
  padding-bottom: 1rem;
  max-width: 800px;
}
html body main > section ul {
  margin: 1.5rem auto;
}
html body main > div.separator {
  height: 20vw;
  background-image: url("../../../../assets/medias/images/bandeau-2.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.9;
}
html body main:not(#homepage-main-container) .main-header {
  background-image: url("../../../../assets/medias/images/horizontal-header.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 57.1428571429vw;
}
html body li {
  color: rgb(240, 240, 240);
  text-align: start;
}
html body .hidden {
  display: none;
}
html body .opacity-mask {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: rgb(0, 11, 16);
  opacity: 0.5;
}

@media (min-width: 425px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
  html body a:hover, html body i:hover {
    color: rgb(200, 100, 16);
  }
  html body main:not(#homepage-main-container) .main-header {
    background-size: cover;
    height: 16.6666666667vw;
  }
  html body main > div.separator {
    height: 10vw;
    background-image: url("../../../../assets/medias/images/bandeau-2.webp");
    background-repeat: repeat-x;
  }
}
@media (min-width: 1024px) {
  html > body > main {
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
  }
  html > body > main > header {
    grid-column: 1/4;
  }
  html > body > main div.separator {
    grid-column: 1/4;
  }
  html > body > main div.left-side-sprite, html > body > main div.right-side-sprite {
    display: block;
    background-image: url("../../../../assets/medias/images/sprites/side-effect.webp");
    background-size: contain;
    background-position: center;
    background-repeat: repeat-y;
    margin: 30%;
    width: 40%;
    opacity: 30%;
  }
  html > body > main div.left-side-sprite {
    grid-column: 1/2;
  }
  html > body > main div.right-side-sprite {
    grid-column: 3/4;
    transform: rotateZ(180deg);
  }
  html > body > main > section {
    grid-column: 2/3;
  }
  html > body > main > section article, html > body > main > section > div.includes {
    margin: 2rem auto 0 auto;
    padding-bottom: 2rem;
  }
}
body > header {
  width: calc(100vw - 1rem);
  height: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 50vh;
  padding: 0.5rem;
  background-color: black;
  z-index: 3;
}
body > header > a {
  width: fit-content;
  grid-column: 1/3;
  text-decoration: none;
  margin: auto 0;
}
body > header > a div.mark {
  display: flex;
  width: fit-content;
  height: 70px;
}
body > header > a div.mark span {
  position: relative;
  top: calc(50px - 0.5rem);
  height: 1.5rem;
  color: rgb(240, 240, 240);
  font-weight: bold;
  font-size: 1.25rem;
}
body > header nav {
  height: 0;
  grid-row: 2/3;
  grid-column: 3/5;
  z-index: 2;
}
body > header nav ul {
  list-style-type: none;
  height: fit-content;
  background-color: rgb(0, 11, 16);
  border-left: 2px solid rgb(48, 141, 177);
}
body > header nav ul li {
  margin: 2rem 2rem;
  text-align: center;
}
body > header nav ul li a {
  color: rgb(240, 240, 240);
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}
body > header nav ul li:first-of-type {
  margin-top: 0;
  padding-top: 1rem;
}
body > header nav ul li:last-of-type {
  padding-bottom: 2rem;
}
body > header nav ul.scaleY-up {
  transform: scaleY(1);
}
body > header nav ul.scaleY-down {
  transform: scaleY(0);
}

.open-burger {
  animation: 0.5s open-burger 0s forwards;
}

.close-burger {
  animation: 0.5s close-burger 0s forwards;
}

@media (min-width: 768px) {
  body > header {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 80px;
  }
  body > header > nav {
    grid-row: 1/2;
    grid-column: 2/5;
  }
  body > header > nav > ul.scaleY-down {
    transform: scaleY(1);
    display: flex;
    background-color: inherit;
    border: none;
  }
  body > header > nav > ul.scaleY-down li {
    margin: 1rem 0 0 5vw;
  }
  body > header > nav > ul.scaleY-down li:first-of-type {
    padding: 0;
  }
}
@keyframes open-burger {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes close-burger {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
html body > footer {
  background: linear-gradient(rgba(0, 11, 16, 0.1) 0%, rgb(0, 11, 16) 40%, rgb(48, 141, 177) 60%, rgb(48, 141, 177) 110%);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
html body > footer div#contacts-footer {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 6rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
html body > footer div#contacts-footer div.contacts-container {
  display: flex;
  justify-content: space-evenly;
  width: 6rem;
  z-index: 2;
  top: 100px;
}
html body > footer div#contacts-footer div.contacts-container a:hover i {
  transform: scale(1.1);
  color: rgb(200, 100, 16);
}
html body > footer div#contacts-footer div.contacts-container a {
  margin-left: 0.5rem;
  text-decoration: none;
}
html body > footer div.scroll-up-button {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body > footer div.scroll-up-button div {
  text-align: center;
  animation: 2s up-down 2s infinite;
}
html body > footer div.scroll-up-button div a {
  color: rgb(240, 240, 240);
  text-decoration: none;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.75rem;
}
html body > footer div#footer-text {
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
  margin: 1rem auto;
}
html body > footer div#footer-text a {
  color: white;
  margin: 1rem auto;
}
html body > footer div#footer-text p {
  font-size: 1rem;
  color: white;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
html body main h1 {
  text-align: center;
  color: rgb(240, 240, 240);
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}
html body main h2 {
  margin: 2rem auto 0 auto;
  text-align: center;
  color: rgb(240, 240, 240);
  font-size: 2rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}
html body main h3 {
  margin: 0.75rem auto;
  text-align: center;
  color: rgb(48, 141, 177);
  text-shadow: 1px 1px 1px rgba(48, 141, 177, 0.8);
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}
html body main h4 {
  margin: 0.75rem auto 0.15rem auto;
  text-align: start;
  color: rgb(200, 100, 16);
  font-size: 1.15rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-shadow: 1px 1px 1px rgba(200, 100, 16, 0.8);
}
html body main label {
  margin-left: 5px;
  font-family: "Lato", sans-serif;
  color: rgb(240, 240, 240);
  font-size: 1.15rem;
}
html body main a {
  font-family: "Lato", sans-serif;
  color: rgb(240, 240, 240);
  text-shadow: 1px 1px 1px #C45A10;
  font-weight: bold;
}
html body main a:active, html body main a:hover {
  color: rgb(200, 100, 16);
}
html body main p {
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 1.4rem;
  color: rgb(240, 240, 240);
}
html body main ul > li {
  font-family: "Lato", sans-serif;
  text-align: start;
  line-height: 1.4rem;
  color: rgb(240, 240, 240);
}

form {
  margin: 2rem auto;
  padding: 0 1rem;
  border-left: 2px solid rgb(48, 141, 177);
  border-right: 2px solid rgb(48, 141, 177);
  max-width: 600px;
}
form fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
form fieldset label {
  margin-bottom: 0.5rem;
  width: fit-content;
}
form fieldset input, form fieldset textarea {
  padding: 0.15rem;
  border: none;
  border-bottom: 1px solid rgb(240, 240, 240);
  border-radius: 9px;
  background-color: rgba(240, 240, 240, 0.1);
  color: rgb(240, 240, 240);
}
form fieldset input:focus, form fieldset textarea:focus {
  border: 2px solid rgb(200, 100, 16);
  border-radius: 7px;
}
form fieldset p {
  margin-top: 0.75rem;
  font-size: 0.75rem;
  line-height: 0.75rem !important;
}
form fieldset p a {
  font-size: 0.75rem;
}
form div.notation {
  margin-left: 5px;
  margin-bottom: 1rem;
  display: flex;
}
form div.notation i:hover {
  animation: 0.5s stars-shake forwards;
}
form div.notation:hover {
  cursor: pointer;
}

@keyframes stars-shake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
button {
  cursor: pointer;
}

form > fieldset > button {
  border: none;
  border-bottom: 2px solid rgb(48, 141, 177);
  background-color: rgba(240, 240, 240, 0.15);
  border-radius: 9px;
  min-width: 150px;
  max-width: 250px;
  color: rgb(240, 240, 240);
  font-weight: bold;
  margin: 1rem auto;
}

form > fieldset > button:hover {
  background-color: rgba(240, 240, 240, 0.45);
}

form > fieldset > button:active {
  border: none;
  background-color: rgb(240, 240, 240);
  color: rgb(48, 141, 177);
}

body > header > button {
  border-radius: 50%;
  border: solid 2px rgb(240, 240, 240);
  background: linear-gradient(to bottom, rgb(8, 27, 114), rgb(48, 141, 177), rgb(48, 141, 177));
  box-shadow: 1px 1px 2px 2px grey;
  color: rgb(240, 240, 240);
  width: 50px;
  height: 50px;
  margin: auto;
  font-weight: bold;
  font-size: 0.75rem;
  grid-column: 4/5;
}
body > header > button:active, body > header > button:hover {
  width: 45px;
  height: 45px;
  font-size: 0.6rem;
  box-shadow: none;
}

@media (min-width: 768px) {
  body > header > button {
    display: none;
  }
}
main#homepage-main-container header div#homepage-slide-background {
  width: 100vw;
  height: 58.8235294118vw;
  background-image: url("../../../../assets/medias/images/backgrounds/back4.webp");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
main#homepage-main-container header div#homepage-slide-background div.opacity-mask {
  display: flex;
  justify-content: center;
  align-items: center;
}
main#homepage-main-container header div#homepage-slide-background div.text-slide {
  position: absolute;
  text-align: center;
}
main#homepage-main-container header div#homepage-slide-background div.text-slide p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
}
main#homepage-main-container header div#homepage-slide-background div.text-slide p span {
  color: black;
  opacity: 0;
}
main#homepage-main-container header div#homepage-slide-background div.text-slide p span:first-child {
  animation: 2s textSlideAnim 4.9s forwards;
}
main#homepage-main-container header div#homepage-slide-background div.text-slide p > span:nth-child(2) {
  animation: 8s textSlideAnimRemake 0s forwards;
}
main#homepage-main-container header div#homepage-slide-background div.text-slide p > span:last-child {
  animation: 8s textSlideAnimRemake 0s forwards;
}
main#homepage-main-container header div#homepage-slide-background svg {
  position: absolute;
  left: 50vw;
  top: 25vw;
  width: 100px;
  transform: rotateZ(240deg);
}
main#homepage-main-container section#home-presentation-section div#presentation-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main#homepage-main-container section#home-presentation-section div#presentation-links a {
  margin: 1rem;
  text-align: center;
  font-size: 1.25rem;
}
main#homepage-main-container section#reviews-section {
  display: none;
}
@media (min-width: 768px) {
  html > body > main#homepage-main-container > .main-header > div#homepage-slide-background > div.text-slide > p {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1024px) {
  html > body > main#homepage-main-container > .main-header > div#homepage-slide-background > div.text-slide > p {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
}
@keyframes textSlideAnim {
  0% {
    text-shadow: none;
    color: black;
    opacity: 0;
  }
  50% {
    text-shadow: 2px 2px 2px rgb(240, 240, 240);
    color: rgb(48, 141, 177);
    opacity: 1;
  }
  100% {
    text-shadow: 2px 2px 2px rgb(200, 100, 16);
    color: white;
    opacity: 1;
  }
}
@keyframes textSlideAnimRemake {
  0% {
    text-shadow: none;
    color: black;
    opacity: 0;
  }
  15% {
    text-shadow: 2px 2px 2px rgb(240, 240, 240);
    color: rgb(48, 141, 177);
    opacity: 1;
  }
  30% {
    text-shadow: 2px 2px 2px rgb(200, 100, 16);
    color: white;
    opacity: 1;
  }
  45% {
    text-shadow: 2px 2px 2px rgb(240, 240, 240);
    color: rgb(48, 141, 177);
    opacity: 1;
  }
  60% {
    text-shadow: none;
    color: black;
    opacity: 0;
  }
  72% {
    text-shadow: 2px 2px 2px rgb(240, 240, 240);
    color: rgb(48, 141, 177);
    opacity: 1;
  }
  92% {
    text-shadow: 2px 2px 2px rgb(200, 100, 16);
    color: white;
    opacity: 1;
  }
  100% {
    text-shadow: 2px 2px 2px rgb(200, 100, 16);
    color: white;
    opacity: 1;
  }
}
main#prices-main-container section ul li strong, main#services-main-container section ul li strong {
  color: rgb(200, 100, 16);
  text-shadow: 1px 1px 1px rgba(240, 240, 240, 0.5);
}
main#prices-main-container section ul.list-checks, main#services-main-container section ul.list-checks {
  list-style: url("../../../../assets/medias/images/sprites/check-svgrepo-com.svg") inside;
}
main#prices-main-container section ul.list-depends, main#services-main-container section ul.list-depends {
  list-style: url("../../../../assets/medias/images/sprites/arrow-drop-right.svg") inside;
}
main#prices-main-container section div.includes > h4, main#services-main-container section div.includes > h4 {
  color: rgb(48, 141, 177);
  text-shadow: 1px 1px 1px rgba(240, 240, 240, 0.5);
}

main#about-main-container section > img, main#about-main-container section > article > img {
  width: calc(70vw - 4rem);
}

@media (min-width: 425px) {
  main#about-main-container section > img, main#about-main-container section > article > img {
    width: calc(40vw - 4rem);
  }
}
@media (min-width: 1024px) {
  main#about-main-container section > img, main#about-main-container section > article > img {
    width: calc(20vw - 4rem);
  }
}

/*# sourceMappingURL=style.css.map */
