<form id="review-form" action="{{ path('app_submitReview') }}" method="post">
    <fieldset>
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" autocomplete="name" required/>
    </fieldset>
    <fieldset>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" autocomplete="email" required/>
    </fieldset>
    <fieldset>
        <label for="content">Commentaire</label>
        <textarea id="content" name="content" rows="4" minlength="10" required></textarea>
    </fieldset>
    <div class="notation">
        <i class="fa-regular fa-star" style="font-size: 1.25rem; color: #C45A10;"></i>
        <i class="fa-regular fa-star" style="font-size: 1.25rem; color: #C45A10;"></i>
        <i class="fa-regular fa-star" style="font-size: 1.25rem; color: #C45A10;"></i>
        <i class="fa-regular fa-star" style="font-size: 1.25rem; color: #C45A10;"></i>
        <i class="fa-regular fa-star" style="font-size: 1.25rem; color: #C45A10;"></i>
    </div>
    <fieldset>
        <input type="hidden" name="rating" id="rating"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
        <button type="submit">Envoyer</button>
        <p>
            En soumettant ce formulaire, vous acceptez notre <a href="{{ path("app_cgu") }}">Politique de Confidentialité</a>.
        </p>
    </fieldset>
</form>