{% extends 'base.html.twig' %}

{% block title %}Hello PricesController!{% endblock %}

{% block body %}
    <main id="prices-main-container">
        <header class="main-header">
            <h1>Mes tarifs</h1>
        </header>
        <section class="presentation">
            <p>
                Chaque projet est unique, c’est pourquoi mes tarifs sont conçus pour refléter la complexité et la portée
                de chaque mission. Voici des fourchettes de prix indicatives de mes services :
            </p>
        </section>
        <div class="left-side-sprite"></div>
        <section>
            <h2>Créations générales</h2>
            {% include "partials/underline-titles.html.twig" %}
            <article>
                <h3>Sites Vitrine</h3>
                <div class="price">
                    <p>de 1 000€ à 5 000€</p>
                </div>
                <div class="includes">
                    <h4>Inclut :</h4>
                    <ul class="list-checks">
                        <li>La conception</li>
                        <li>Le développement</li>
                        <li>Un SEO (référencement) de base</li>
                        <li>Un site responsive (qui s'adapte à tous les appareils)</li>
                        <li>Un design complet</li>
                    </ul>
                </div>
                <div class="depends">
                    <h4>Dépend :</h4>
                    <ul class="list-depends">
                        <li>De la personnalisation de la solution</li>
                        <li>Du nombre de pages</li>
                        <li>Du nombre et de la complexité des fonctionnalités</li>
                        <li>Du contenu partagé par le client (textes, photos et médias)</li>
                    </ul>
                </div>
            </article>
            <article>
                <h3>Sites E-commerce</h3>
                <div class="price">
                    <p>de 2 000€ à 10 000€</p>
                </div>
                <div class="includes">
                    <h4>Inclut :</h4>
                    <ul class="list-checks">
                        <li>La conception</li>
                        <li>Le développement</li>
                        <li>Une intégration e-commerce</li>
                        <li>Un SEO (référencement) de base</li>
                        <li>Un site responsive (qui s'adapte à tous les appareils)</li>
                        <li>Un design complet</li>
                    </ul>
                </div>
                <div class="depends">
                    <h4>Dépend :</h4>
                    <ul class="list-depends">
                        <li>De la personnalisation de la solution</li>
                        <li>De la taille de la boutique et du nombre de pages</li>
                        <li>Du nombre et de la complexité des fonctionnalités</li>
                        <li>Du contenu partagé par le client (textes, photos et médias)</li>
                    </ul>
                </div>
            </article>
        </section>
        <div class="right-side-sprite"></div>
        <div class="separator"></div>
        <div class="left-side-sprite"></div>
        <section>
            <h2>Développement d'APIs et Solutions de Bases de Données</h2>
            {% include "partials/underline-titles.html.twig" %}
            <article>
                <h3>API standard</h3>
                <p>Création d’un « Dashboard », fonctionnalité complexe</p>
                <p>1 300€ - 2 000€</p>
            </article>
            <article>
                <h3>Solutions de bases de données complexes</h3>
                <p>Gestion de stock, de clients...</p>
                <p>2 500€ - 12 000€</p>
            </article>
        </section>
        <div class="right-side-sprite"></div>
        <div class="separator"></div>
        <div class="left-side-sprite"></div>
        <section>
            <h2>Autres services liés</h2>
            {% include "partials/underline-titles.html.twig" %}
            <article>
                <h3>Audit et recommandations</h3>
                <p></p>
                <p>70€</p>
            </article>
            <article>
                <h3>Optimisation UX/UI</h3>
                <p></p>
                <p>300€ - 800€</p>
            </article>
            <article>
                <h3>Refonte complète de l'interface</h3>
                <p></p>
                <p>500€ - 1 000€</p>
            </article>
        </section>
        <div class="right-side-sprite"></div>
        <div class="separator"></div>
        <div class="left-side-sprite"></div>
        <section>
            <h2>Maintenance et Support</h2>
            {% include "partials/underline-titles.html.twig" %}
            <article>
                <h3>Abonnement mensuel</h3>
                <p>25€/mois</p>
            </article>
            <article>
                <h3>Abonnement annuel</h3>
                <p>300€/ans</p>
            </article>
            <div class="includes">
                <h3>Inclut :</h3>
                <ul class="list-checks">
                    <li>Mise à jour de contenu basic</li>
                    <li>Mise à jour de sécurité</li>
                    <li>Hébergement</li>
                </ul>
            </div>
        </section>
        <div class="right-side-sprite"></div>
        <section>
            <p>
                <strong>Note</strong> : Les prix ci-dessus sont indicatifs et peuvent varier en fonction des spécificités de chaque
                projet. Je vous invite à me contacter pour un devis personnalisé qui prendra en compte vos besoins et
                objectifs spécifiques.
            </p>
            <br>
            <p>
                Prêt à démarrer votre projet ? N'hésitez pas à me contacter pour un devis détaillé. Vous pouvez me
                joindre via la page <a href="{{ path("app_contact") }}">Contacts</a> du site, ou directement par mail à <a href="mailto:ckdevweb.35@gmail.com">ckdevweb.35@gmail.com</a>. Ensemble,
                explorons comment nous pouvons donner vie à vos idées.
            </p>
        </section>
    </main>
{% endblock %}
