{% extends 'base.html.twig' %}

{% block title %}C.K DevWeb - Accueil{% endblock %}

{% block body %}
<main id="homepage-main-container">
    <header class="main-header">
        <h1 class="hidden">Accueil</h1>
        <div id="homepage-slide-background">
            <div class="opacity-mask"></div>
            <div class="text-slide">
                <p><span>Faisons de</span> <span>vos idées</span> <span>une réalité</span></p>
            </div>

        </div>
    </header>

    <section id="home-presentation-section">
        <p>
            Bienvenue sur C.K DevWeb, la solution idéale pour tous vos besoins en développement web. Diplômé full-stack
            de niveau 5, je possède une expertise complète en développement frontend (la conception et le développement
            de l'interface utilisateur) et backend (la logique serveur et la gestion des bases de données). Animé par
            une passion constante pour la technologie, je m'engage à concrétiser vos idées en solutions numériques
            efficaces et innovantes.
        </p>

        <div id="presentation-links">
            <a href="{{ path("app_contact") }}">
                <button>Contactez-moi</button>
            </a>
{#            <a href="#reviews-section">#}
{#                <button>Voir les commentaires des autres clients</button>#}
{#            </a>#}
            <a href="#make-review-section">
                <button>Laissez un commentaire</button>
            </a>

        </div>
    </section>
    <div class="separator"></div>
    <section id="reviews-section">

    </section>
    <div class="separator"></div>
    <section id="make-review-section">

    </section>
</main>
{% endblock %}
