{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<main id="homepage-main-container">
    <h1>Homepage</h1>
    <header class="main-header">

    </header>

    <section id="home-presentation-section">

    </section>

    <section id="reviews-section">

    </section>

    <section id="make-review-section">

    </section>
</main>
{% endblock %}
