@import '../mains/vars.scss';

body > header
{
    width: calc(100% - $padding-header * 2);
    height: $header-height;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 50vh;
    padding: $padding-header;
    background-color: black;
    z-index: 3;
    >a
    {
        width: fit-content;
        grid-column: 1/3;
        text-decoration: none;
        margin: auto 0.5rem;
        div.mark
        {
            display: flex;
            width: fit-content;
            height: 70px;
            span
            {
                position: relative;
                top: calc(50px - 0.5rem);
                height: 1.5rem;
                color: $primary-color;
                font-weight:bold;
                font-family: $font-source;
                font-size: 1.25rem;
            }
        }
    }
    nav
    {
        height: 0;
        grid-row: 2/3;
        grid-column: 3/5;
        z-index: 2;
        ul
        {
            list-style-type: none;
            height: fit-content;
            background-color: $background-color;
            border-left: 2px solid $secondary-color;
            li
            {
                margin: 2rem 2rem;
                text-align: center;
                a
                {
                    color: $primary-color;
                    text-decoration: none;
                    font-family: $font-source;
                    font-weight: bold;
                }
                a.active, a.a-hover
                {
                    animation: 0.5s navTranslateY forwards;
                    color: rgba($secondary-color, 0.55);
                    text-shadow: 1px 1px 1px $primary-color;
                    text-decoration: underline;
                }
            }
            li:first-of-type
            {
                margin-top: 0;
                padding-top: 1rem;
            }
            li:last-of-type
            {
                padding-bottom: 2rem;
            }
        }
        ul.scaleY-up
        {
            transform: scaleY(1);
        }
        ul.scaleY-down
        {
            transform: scaleY(0);
        }
    }

}

.open-burger
{
    animation: 0.5s open-burger 0s forwards;
}

.close-burger
{
    animation: 0.5s close-burger 0s forwards;
}

@media (min-width: 1024px)
{
    body>header >nav >ul.scaleY-down li
    {
        margin: 1rem 0 0 5vw !important;
    }
}

@media (min-width: 768px)
{
    body>header
    {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, $header-height / 1.5);
        >a
        {
            grid-row: 1/2;
            grid-column: 1/2;
        }
        >nav
        {
            grid-row: 1/3;
            grid-column: 2/5;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: $header-height;
            >ul.scaleY-down
            {
                transform: scaleY(1);
                display: flex;
                background-color: inherit;
                border: none;
                height: $header-height;
                li
                {
                    margin: 1rem 0 0 3vw;
                    a
                    {
                        position: relative;
                        padding: 1rem 0;
                    }
                    a.active, a.a-hover
                    {
                        animation: 0.5s navTranslateY forwards;
                        color: rgba($secondary-color, 0.55);
                        text-shadow: 1px 1px 1px $primary-color;
                        text-decoration: underline;
                    }
                    a.a-leave
                    {
                        animation: 0.5s navTranslateY-reverse forwards;
                        color: $primary-color;
                        text-decoration: none;
                    }
                    .fix-a-hover
                    {
                        margin-top: 0;
                    }
                    .fix-a-leave
                    {
                        margin-top: 1rem;
                    }
                }
                li:first-of-type
                {
                    padding: 0;
                }
            }
        }
    }
}

@keyframes open-burger
{
    from
    {
        transform: scaleY(0);
    }
    to
    {
        transform: scaleY(1);
    }
}

@keyframes close-burger
{
    from
    {
        transform: scaleY(1);
    }
    to
    {
        transform: scaleY(0);
    }
}

@keyframes navTranslateY
{
    from
    {
        top: 0;
    }
    to
    {
        top: 1rem;
    }
}

@keyframes navTranslateY-reverse
{
    from
    {
        top: 1rem;
    }
    to
    {
        top: 0;
    }
}