@import '../mains/vars';

html
{
    font-size: 16px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    body
    {
        margin: 0;
        padding: 0;
        background: $background-color;
        >div.contacts-container
        {
            width: 6rem;
            z-index: 2;
            position: absolute;
            top: $header-height + 20px;
            display: flex;
            justify-content: space-evenly;
            a:hover
            {
                i
                {

                    transform: scale(1.1);
                    color: $alt-color;
                }

            }
            a
            {
                margin-left: 0.5rem;
                text-decoration: none;
            }
        }

        main
        {
            p
            {
                margin: 0 1rem;
            }
            .main-header
            {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
            }
            >section
            {
                margin: 0;
                padding: 2rem 10% 2rem 10%;
                text-align: center;

                header{
                    margin-bottom: 1.5rem;
                }
                img.title-underline
                {
                    width: 80%;
                    max-width: 370px;
                }

                article , >div.includes
                {
                    margin: 2rem auto;
                    max-width: 800px;
                }
                ul
                {
                    margin: 1.5rem auto;
                }
            }
            >div.separator
            {
                height: 20vw;
                background-image: url("../../../../assets/medias/images/bandeau-2.webp");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
        main:not(#homepage-main-container)
        {
            .main-header
            {
                background-image: url("../../../../assets/medias/images/horizontal-header.webp");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 100%;
                height: calc(100vw / 1.75);

            }
        }

        li{
            color: $primary-color;
            text-align: start;
        }

        .hidden
        {
            display: none;
        }

        .opacity-mask
        {
            position: relative;
            width: 100vw;
            height: 100%;
            background-color: $background-color;
            opacity: 0.5;
        }
    }
}

@media (min-width: 425px)
{
    html
    {
        font-size: 18px;

    }
}

@media (min-width: 768px)
{
    html
    {
        font-size: 20px;
        body
        {
            a:hover, i:hover
            {
                color: $alt-color;
            }
            main:not(#homepage-main-container)
            {
                .main-header
                {
                    background-size: cover;
                    height: calc(100vw / 6);
                }
            }
            main
            {
                >div.separator
                {
                    height: 10vw;
                    background-image: url("../../../../assets/medias/images/bandeau-2.webp");
                    background-repeat: repeat-x;
                }
            }
        }
    }
}

@media (min-width: 1024px)
{
    html>body>main
    {
        display: grid;
        grid-template-columns: 25vw 50vw 25vw;
        >header
        {
            grid-column: 1/4;
        }
        div.separator
        {
            grid-column: 1/4;
        }
        section
        {
            grid-column: 2/3;
        }
    }
}