$primary-color: rgb(38 39 79);
$secondary-color: rgb(88 0 34);
$alt-color: rgb(220 110 0);
$background-color: rgb(255 255 255);

$padding-header: 0.5rem;
$header-height: 80px;

$margin-top-main: 2rem;

$font-text: "Source Sans Pro", sans-serif;
$font-text2: "Lato", sans-serif;