$primary-color: rgb(240 240 240);
$secondary-color: rgb(48, 141, 177);
$alt-color: rgb(200, 100, 16);
$background-color: rgb(0 11 16);

$padding-header: 0.5rem;
$header-height: 80px;

$margin-top-main: 2rem;

$font-text: "Source Sans Pro", sans-serif;
$font-text2: "Lato", sans-serif;