<footer>
    <div id="contacts-footer">
        <div class="contacts-container">
            <a href="https://github.com/CKdevweb" target="_blank">
                <i class="fa-brands fa-github" style="color: #FFFFFF; font-size: 1.5rem;"></i>
            </a>
            <a href="https://www.linkedin.com/in/k%C3%A9vin-corvaisier-1140b1205/" target="_blank">
                <i class="fa-brands fa-linkedin" style="color: #FFFFFF; font-size: 1.5rem;"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61556127747077" target="_blank">
                <i class="fa-brands fa-facebook" style="color: #FFFFFF; font-size: 1.5rem;"></i>
            </a>
        </div>
    </div>
    <div class="scroll-up-button">
        <div>
            <a href="#top-view"><i class="fa-solid fa-arrow-circle-up" style="color: #FFFFFF; font-size: 1.25rem;"></i><br>Remonter la page</a>
        </div>
    </div>
    <div id="footer-text">
        <a href="{{ path('app_cgu') }}">Voir la politique de confidentialité</a>
        <p>©2024 - C.K DevWeb, website developer freelance. Mentions légales.</p>
    </div>
</footer>