<div class="maintenance-bg">
    <div class="maintenance-message">
        <h1>Nous serons bientôt de retour !</h1>
        <p>Nous effectuons actuellement des travaux de maintenance. Nous nous excusons pour la gêne occasionnée et vous remercions de votre patience.</p>
    </div>
</div>