{# src/Resources/views/contact/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <main id="contact-main-container">
        <header class="main-header">
            <h1>Contact</h1>
        </header>
        <p>
            Que vous ayez des questions, une demande de devis, des projets à discuter ou simplement envie de partager
            des idées, cette page de contact est l'endroit idéal pour entrer en contact avec moi. Je suis là pour vous
            répondre avec le plus grand plaisir, du design jusqu’à la programmation, je serais ravi de vous rendre
            réponse dans les plus brefs délais.
        </p>
        <section>
            <div id="contact-form-container">
                {% include 'partials/contact-form.html.twig' %}
            </div>
        </section>

    </main>
{% endblock %}
