{% extends 'base.html.twig' %}

{% block title %}C.K DevWeb - Contact{% endblock %}

{% block body %}
    <main id="contact-main-container">
        <header class="main-header">
            <h1>Contact</h1>
        </header>
        <section class="presentation">
            <p>
                Que vous ayez des questions, une demande de devis, des projets à discuter ou simplement envie de partager
                des idées, <strong>cette page de contact est l'endroit idéal pour entrer en contact avec moi.</strong> Je suis là pour vous
                répondre avec le plus grand plaisir, du design jusqu’à la programmation, je serais ravi de vous rendre
                réponse dans les plus brefs délais.
            </p>
        </section>
        <div class="left-side-sprite"></div>
        <section>
            <div id="contact-form-container">
                {% include 'partials/contact-form.html.twig' %}
            </div>
        </section>
        <div class="right-side-sprite"></div>
    </main>
    <script type="module" src="{{ asset('assets/js/views/contact.min.js') }}"></script>
{% endblock %}
