main#about-main-container
{
    section:first-of-type{
        article:last-of-type{
            img
            {
                height: 10%;
                margin-bottom: -6rem;
            }
        }
    }
    section>img, section>article>img
    {
        width: calc(70vw - 4rem);
    }
}

@media (min-width: 425px)
{
    main#about-main-container
    {
        section>img, section>article>img
        {
            width: calc(40vw - 4rem);
        }
    }
}

@media (min-width: 1024px)
{
    main#about-main-container
    {
        section>img, section>article>img
        {
            width: calc(20vw - 4rem);
        }
    }
}