@import '../mains/vars';

main#homepage-main-container
{
    header
    {
        div#homepage-slide-background
        {
            width: 100vw;
            height: calc(100vw * 10 / 16);
            background-image: url("../../../../assets/medias/images/backgrounds/back4.webp");
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            div.opacity-mask
            {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            div.text-slide
            {
                position: absolute;
                text-align: center;
                p
                {
                    font-family: $font-text;
                    font-size: 1.75rem;
                    font-weight: normal;
                    span
                    {
                        color: black;
                        opacity: 0;
                    }
                    span:first-child
                    {
                        animation: 2s textSlideAnim 6s forwards;
                    }
                    >span:nth-child(2)
                    {
                        animation: 2s textSlideAnim 0s forwards;
                    }
                    >span:last-child
                    {
                        animation: 2s textSlideAnim 3s forwards;
                    }
                }

            }
            svg
            {
                position: absolute;
                left: 50vw;
                top: 25vw;
                width: 100px;
                transform: rotateZ(240deg);
            }
        }
    }

    section#home-presentation-section
    {
        div#presentation-links
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            a
            {
                margin: 1rem;
                text-align: center;
                font-size: 1.25rem;
            }
        }
    }

    section#reviews-section
    {
        display: none;
    }

    section#make-review-section
    {
        header
        {

        }
        p
        {

        }
        div#review-form-container
        {

        }
    }
}

@keyframes textSlideAnim
{
    0%
    {
        text-shadow: none;
        color: black;
        opacity: 0;
    }
    33%
    {
        text-shadow: 2px 2px 2px $primary-color;
        color: $secondary-color;
        opacity: 1;
    }
    100%
    {
        text-shadow: 2px 2px 2px $alt-color;
        color: white;
        opacity: 1;
    }
    //100%
    //{
    //    text-shadow: none;
    //    color: black;
    //    opacity: 0;
    //}
}